.review-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-delay: 1s;
}

.review-component {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 25vw;
  align-items: center;
  justify-content: center;
}

.review-component p {
  width: 60%;
  line-height: 2.5rem;
}

.review-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
}

.arrow {
  padding: 50px;
}

#slide0 {
  background: #ced9d6;
}
#slide1 {
  background: #d6ced9;
}
#slide2 {
  background: #d9ced1;
}

/* .fade-enter {
  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-leave {
  animation: fadeOut ease 5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* for use with CSSTransition */
/* .sample-enter {
  opacity: 0;
}

.sample-enter-active {
  opacity: 0.5;
  transition: opacity 300ms;
}

.sample-enter-done {
  opacity: 1;
}

.sample-exit {
  opacity: 1;
}

.sample-exit-active {
  opacity: 0.5;
  transition: opacity 300ms;
}

.sample-exit-done {
  opacity: 0;
} */
