@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  text-align: center;
}

button {
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1.6rem;
  padding: 1rem;
}

h3 {
  font-weight: 300;
  letter-spacing: 2rem;
  font-size: 2.5rem;
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: black;
}

a:hover {
  color: #809a73;
}

.wrapper {
  position: relative;
}

/* header */

.header {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20vh;
  background: white;
  z-index: 1;
}

/* @media (max-width: 480px) {
  .header {
    background: red;
    flex-direction: column;
  }
} */

#menu-icon {
  height: 40px;
  padding: 0px 43px;
}

#header-logo {
  height: 18vh;
}

#book-online {
  font-size: 1.5rem;
  font-weight: 400;
}

/* nav */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background: white;
  z-index: 999;
  letter-spacing: 0.3em;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.display-none {
  display: none;
}

#close-button {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  padding: 10px;
}

@media (max-width: 480px) {
  .modal {
    width: 100%;
  }

  #close-button {
    padding-right: 50px;
  }
}

/* footer */
.footer {
  height: 80vh;
}

.footer-information {
  padding: 30px;
}

.map {
  filter: grayscale(100%);
  border-top: 5px solid black;
}

#google-map {
  width: 100%;
  height: 40vh;
}

.icon {
  font-size: 6rem;
  padding: 5px;
}

/* homepage*/

.homepage {
  padding-top: 20vh;
  width: fit-content;
}

.logo-section {
  background-image: url("../Images/LeafBackgroundFaded.jpeg");
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#business-logo {
  height: 30rem;
}

.about-me {
  padding: 3rem;
  display: flex;
  height: 80vh;
  background: #d2dacf;
}

.about-me img {
  width: 30%;
  object-fit: scale-down;
}

.about-me div {
  padding: 50px;
}

@media (max-width: 768px) {
  .about-me {
    flex-direction: column;
    align-items: center;
  }
  .about-me img {
    width: 60%;
    object-fit: scale-down;
  }
}

/* prices */

.prices-page {
  padding-top: 130px;
  height: 2180px;
  display: flex;
  flex-direction: column;
  background-image: url("../Images/LeafBackgroundFaded.jpeg");
}

.price-list {
  margin: 40px;
  height: 600px;
  object-fit: scale-down;
}

/* @media (max-width: 768px) {
}

@media (max-width: 480px) {
} */
