@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

html {
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
  font-family: "Lato", sans-serif;
}

/* header */

.header {
  width: 100%;
  background: white;
  height: 120px;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

#heading {
  font-weight: 300;
  letter-spacing: 1em;
  font-size: 25px;
}

button {
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background: white;
  z-index: 999;
}

.modal-main {
  /* display: flex;
  flex-direction: column; */
  letter-spacing: 0.3em;
  font-size: 25px;
}

.display-block {
  display: flex;
  align-items: center;
}

.display-none {
  display: none;
}

#close-button {
  display: flex;
  justify-items: flex-end;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:-webkit-any-link {
  color: black;
}

li {
  padding: 20px;
}

/* main */

.main {
  height: 800px;
  padding-top: 120px;
  background-image: url("./fadedImage.jpeg");
}

/* footer */

.footer {
  width: 100%;
}

.information {
  padding: 30px;
}

.map {
  filter: grayscale(100%);
  border-top: 5px solid black;
}

.icon {
  font-size: 3em;
  padding: 5px;
}
